html,
body,
#root {
  height: 100%; /* Ensure the body takes the full height of the viewport */
  margin: 0;
  padding: 0;
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}
